* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .title {
  position: relative;
}

main .title img {
  position: absolute;
  left: -80px;
  top: 20px;
}

main h1 {
  color: #e30613;
}

main input {
  width: 98%;
  height: 48px;
  font-size: 18px;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-left: 20px;
  outline: 0;
}

main input::placeholder {
  font-size: 18px;
  color: #999;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
}

li {
  flex: 1;
  min-width: 49%;
  max-width: 49%;
  list-style: none;
}

li img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}