* {
  box-sizing: border-box;
}

main {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .title {
  display: flex;
  position: relative;
}

main .title img {
  width: 50px;
  position: absolute;
  left: -80px;
  top: 20px;
}

main h1 {
  color: #e30613;
}

main input {
  width: 98%;
  height: 48px;
  font-size: 18px;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-left: 20px;
  outline: 0;
}

main input::placeholder {
  font-size: 18px;
  color: #999;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .4rem;
}

li {
  flex: 1;
  min-width: 49%;
  max-width: 49%;
  list-style: none;
}

li img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 365px) { 
  main h1 {
    font-size: 24px;
  }

  li {
    min-width: 48%;
    max-width: 48%;
  }

  main input {
    height: 38px;
    font-size: 14px;
  }

  main input::placeholder {
    font-size: 14px;
  }

  main .title img {
    width: 35px;
    left: -40px;
    top: 15px;
  }
}

@media (min-width: 500px) { 
  li {
    min-width: 15.8%;
    max-width: 15.8%;
  }
}